<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjw.springboot.admin.mapper.BookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xjw.springboot.admin.bean.Book">
        <id column="id" property="id" />
        <result column="bookname" property="bookname" />
        <result column="boonum" property="boonum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bookname, boonum
    </sql>
    <update id="updateCount">
        update book
        set boonum = boonum - #{purchaseCount,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
